:root {
    --primary: #e63946;
    --s: #6ab8ba;
    --t: #457b9d;
    --white: #ffffff;
    --hover: #bee9e8;
  }
  
html {
    scroll-behavior: smooth;
    width: 100%;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    height: 110vh;
    background-image: url("background.jpeg");
    background-size: 100%;
    margin: 0;
    width: 100vw;
}

.header h4 {
    padding: 0;
    margin: 0;
    font-size: 12vw;
    color: white;
    position: absolute;
    bottom: 40px;
    margin-left: 20px;
}

section  {
    background-color: white;
    box-shadow: 0 0 50px 70px white;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: -5vw;
    width: 100vw;
}

h1 {
    font-size: 6vw;
}

p {
    font-size: 2vw;
    margin-top: -1vw;
}

nav {
    position: fixed;
    top: 0px;
    right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    width: 100%;
    transition: ease 0.3s;
    z-index: 400;
    /* font-weight: bolder; */
    /* background-color: rgba(45, 49, 50, 0.53); */
}

nav span {
    float: right;
}

nav a {
    height: 10px;
    padding-right: 10px;
    padding-left: 10px;
    color: black;
    font-size: 1.5vw;
    text-decoration: none;
    transition: ease 0.2s;
    width: 105;
}

nav a:hover {
    /* font-weight: bolder; */
    cursor: pointer;
    transition: ease 0.2s;
}

.nav-link {
    position: relative;
    top: -80px;
}

.scrolled-down{
    background-color: var(--primary);
    transition: ease 0.3s;
}

.scrolled-down-a{
    color: white;
}

main {
    width: 95vw;
    padding-left: 5vw;
}

.row {
    background-color: white;
}

.image {
    text-align: center;
}

.text-primary {
    color: primary;
}

h2 .h2 .subtitile {
    color: var(--s);
}

.subtitile {
    color: var(--s);
}

#navbar a:hover, #mobile-nav a:hover {
    color: var(--hover);
}

.animate-charcter {
    background-image: linear-gradient(-225deg,
            var(--s) 0%,
            #14213D 29%,
            var(--t) 67%,
            #000000 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 100s linear infinite;
    display: inline-block;
    font-size: 12vw;
    font-weight: bolder;
    line-height: 16vw;
    padding: 0;
    margin-top: -25px;
}

.active {
    color: aqua;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

a svg {
    color: blue;
}

#about-me, #education, #projects, #experience, #service {
    font-size: 3vw;
    color: #14213D;
    font-weight: bolder;
}

p {
    font-size: 1.5vw;
}

.col a svg {
    background-color: rgb(212, 212, 244);
    height: 6vw;
    width: 6vw;
    padding: 10px;
    border-style: solid;
    margin-bottom: 20px;
    border-width: 0;
    border-radius: 10px;
}

.text {
    font-size: 1.5vw;
    text-align: right;
}

.text span {
    font-size: 2vw;
    font-weight: bolder;
}

ul li {
    margin-bottom: 10px;
}

li span {
    color: blue;
    font-weight: 800;
    letter-spacing: -5px;
    margin-right: 9px;
}

.link-btn {
    text-decoration: none;
    display: inline-block;
    background-color: var(--t);
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    transition: ease-in-out 0.5s;
}

.link-btn:hover {
    color: white;
    background-color: var(--s);
    transition: ease-in-out 0.5s;
}

.position {
    color: var(--t);
    font-weight: bolder;
    font-size: 1.3em;
}

.position span {
    font-size: 1em;
    color: var(--s);
}

.grad {
    font-size: 1.2em;
    font-weight: 600;
    color: var(--s);
}

.minors {
    font-size: 1.2em;
}

.credit {
    width: 100%;
    text-align: center;
    margin: 30px;
    margin-top: 90px;
    font-weight: bolder;
    font-size: 1.5vw;
}

.course-list li {
    margin-bottom: 0px;
    padding-top: -20px;
}

.dropdown-toggle::after {
    display: inline-block;
    color: green;
}

.resume-list {
    font-size: 1.5vw;
}

#mobile-nav {
    display: none;
}


@media screen and (max-width: 1000px) {
    .text {
        text-align: left;
        padding-top: 20px;
    }

    .text span {
        font-size: 2.5vw;
    }

    #about-me, #education, #projects, #experience, #service {
        font-size: 5vw;
    }

    #projects {
        margin-bottom: -30px
    }

    
    img {
        display: none;
    }

    p {
        font-size: 2.5vw;
    }

    nav {
        display: none;
    }

    #mobile-nav{
        display: flex;
        flex-direction: column;
        position: fixed;
        width: fit-content;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        text-align: right;
        background-color: var(--primary);
    }

    #mobile-nav span{
        font-size: 5vh;
        line-height: 5vh;
        color: white;
        padding: 0;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
    }

    #mobile-nav span:hover{
        cursor: pointer;
    }

    .mobile-links-hide {
        display: none;
        transition: ease 0.4s;
    }

    .mobile-links a {
        color: white;
        font-size: 2.5vw;
        padding-left: 40px;
    }

    main {
        padding: 20px;
        margin-left: 20px;
        margin-right: -40px;
        overflow-y: hidden;
    }

    .resume-list {
        font-size: 2.75vw;
    }

    h3 {
        position: relative;
        top: 30px;
    }

    body {
        width: 90%;
    }

    .text span {
        font-size: 4vw;
    }

    .nav-link {
        position: relative;
        top: -30px;
    }

    .credit {
        font-size: 2.5vw;
    }
}


@media screen and (max-width: 700px) {
    .text span {
        font-size: 5vw;
    }

    .credit {
        font-size: 2vw;
    }

    p {
        font-size: 3vw;
    }

    .project-cat {
        line-height: 10vw;
    }
}


@media screen and (max-width: 900px) {
    .header{
        height: 40vh;
    }

    .header h4 {
        position: static;
        color: black;
        padding-top: 20px;
    }
    
}